<div class="handlebars">

<h1>Reported Incidents </h1>
<p>Current user: {{user.email}}</p>
<!-- <h1 data-id="{{incident._id}}"> <small>Name: {{incident.name}}</small></h1> -->
{{#each user.incidents as |user|}}
<h4 data-id="{{user.id}}">Name: {{user.name}}</h4>
<li>Incident ID: {{user.id}}</li>
<li>Robbery Location: {{user.location}}</li>
<li>Date: {{user.date}}</li>
<li>Description: {{user.description}}</li>
<li>Robbery Type: {{user.robbery_type}}</li>

{{/each}}

</div>
